/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* RESET */

/* DEBUG
body {background-color: aqua;
border: 1px solid black}
/* DEBUG */

.header {
    background-color: lightblue;
    padding: 10px 0;
    text-align: center;
}

/* UTILITY */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}

.container-main { 
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    border: 1px dotted black;
    background: orange;
}
/* UTILITY */

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
}

.nav {
    display: flex;
    gap: 20px;
}

main .container {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* CLASSES COLOR */
.bg-blue {
    background-color: blue;
    width: 100%;
    padding: 40px;
}
.bg-fuchsia {
    background-color: fuchsia;
}
.bg-lightblue {
    background-color: lightblue;
}
.bg-pink {
    background-color: pink;
}
.bg-lightgray {
    background-color: lightgrey;
    width: 100%;
    padding: 40px;
}
.bg-white {
    background-color: white;
    width: 100%;
    padding: 40px;
}
.bg-darkgreen {
    background-color: darkgreen;
}
.bg-black {
    background-color: black;
    color: white;
    width: 100%;
    padding: 40px;
}

.footer {
    background-color: black;
    padding: 10px 0;
    text-align: center;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background: pink;
}

.footer-spacer {
  flex-grow: 1;
  background: black;}

.two-columns {
    display: flex;
}

.col-60 {
    width: 60%;
    background: lightgreen;
}
.col-40 {
    width: 40%;
    background: lightcoral;
}

.five-columns {
    display: flex;
}

.five-columns .col-30 {
  flex-basis: 30%;
  background-color: yellow;
}

.five-columns .col:not(.col-30) {
  flex: 1;
background-color: aqua;
}


